<mat-toolbar color="primary"> <span>Angular-MatTable-CRUD</span></mat-toolbar>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name. </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Country Column -->
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef> Country </th>
      <td mat-cell *matCellDef="let element"> {{element.country}} </td>
    </ng-container>

    <!-- State Column -->
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef> State </th>
      <td mat-cell *matCellDef="let element"> {{element.state}} </td>
    </ng-container>

    <!-- Vertical Column -->
    <ng-container matColumnDef="vertical">
      <th mat-header-cell *matHeaderCellDef> Vertical </th>
      <td mat-cell *matCellDef="let element"> {{element.vertical}} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

      <!-- Brand Column -->
      <ng-container matColumnDef="brand">
        <th mat-header-cell *matHeaderCellDef> Brand </th>
        <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
      </ng-container>

    <!-- City Column -->
    <!-- <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef> City </th>
      <td mat-cell *matCellDef="let element"> {{element.city}} </td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef> City </th>
      <td mat-cell *matCellDef="let element"> {{element.address.city}} </td>
    </ng-container>
    <ng-container matColumnDef="zipcode">
      <th mat-header-cell *matHeaderCellDef> Zip </th>
      <td mat-cell *matCellDef="let element"> {{element.address.zipcode}} </td>
    </ng-container> -->
    <ng-container matColumnDef="actions">
      <!-- <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary">
          <mat-icon aria-label="Example icon-button with a heart icon" (click)="addUser()">add</mat-icon>
        </button>
      </mat-header-cell> -->

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent">
          <mat-icon aria-label="Edit" (click)="editRegulationDialog(i,row.id)">edit</mat-icon>
        </button>

        <!-- <button mat-icon-button color="accent">
          <mat-icon aria-label="Delete" (click)="deleteDialog(i,row.id,row.name, row.username, row.email,row.phone,row.address.city,row.address.zipcode)">delete</mat-icon>
        </button> -->
      </mat-cell>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef=" displayedColumns">
            </tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>